@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Montserrat:wght@300;400&display=swap');

html,
body {
  background-color: #fff;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 300;
  height: 100%;
  line-height: 1.6;;
}

#__next {
  height: 100%;
}

main {
  max-width: 72ch;
}

.container {
  justify-content: left;
}

h1, h2 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  line-height: 1.2;
}

a {
  position: relative;
  display: inline;
  font-weight: 400;
}

a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: .2em;
  top: 1.2em;
  width: inherit;
  background: linear-gradient(to right, #2184cd 0%,#2184cd 33%, white 33%,white 66%, red 66%,red 100%);
  transition: all .3s cubic-bezier(.75,-0.31,.41,1.32);
  transform: scale(1, 1);
  }

  a.active:hover::after {
    transform: scale(.9, 3);
    transform-origin: top;
  }

a {
  color: #888;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  color: #000;
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
